<div class="col-lg-2">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>Статус проекта</h5>
      <div ibox-tools></div>
    </div>
    <div class="ibox-content scrollable">
      <ul class="type-list">
        <li>
          <input type="checkbox" ng-model="projectStages.all.checked" ng-change="changeAllStates(projectStages)"></input>
          <a ng-click="switchAllCheckboxes(projectStages)">
            <span><strong>Все</strong></span>
            <span class="label label-plain pull-right">{{ projectStages.all.count }}</span>
          </a>
        </li>
        <li ng-repeat="projectStage in projectStages">
          <input type="checkbox" ng-checked="projectStages.all.checked" ng-model="projectStage.checked" ng-change="changeProjectStage()"></input>
          <a ng-click="switchProjectCheckbox(projectStage)">
            <span>{{ projectStage.name }}</span>
            <span class="label label-plain pull-right">{{ projectStage.count }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>Статус документа</h5>
      <div ibox-tools></div>
    </div>
    <div class="ibox-content scrollable">
      <ul class="stage-list">
        <li>
          <input type="checkbox" ng-model="documentStages.all.checked" ng-change="changeAllStates(documentStages)"></input>
          <a ng-click="switchAllCheckboxes(documentStages)">
            <span><strong>Все</strong></span>
            <span class="label label-plain pull-right">{{ documentStages.all.count }}</span>
          </a>
        </li>
        <li ng-repeat="documentStage in documentStages">
          <input type="checkbox" ng-checked="documentStages.all.checked" ng-model="documentStage.checked"></input>
          <a ng-click="switchCheckbox(documentStage)">
            <span>{{ documentStage.name }}</span>
            <span class="label label-plain pull-right">{{ documentStage.count }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="col-lg-10">
  <div class="ibox float-e-margins">
    <div class="ibox-title right-header">
      <div class="row">
        <h2>Бюджет</h2>
      </div>
    </div>
    <div class="ibox-content">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Проект</th>
            <th>Документ</th>
            <th>Условия</th>
            <th>Планируемая дата оплаты</th>
            <th>Фактическая дата оплаты</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="moneyFlow in budget | filter:filterDocumentStages">
            <td>{{ moneyFlow.project }}</td>
            <td>{{ moneyFlow.document }}</td>
            <td>{{ moneyFlow.contiditions }}</td>
            <td>{{ moneyFlow.plannedPayment }}</td>
            <td>{{ moneyFlow.actualPayment }}</td>
            <td><a class="href-icon btn-delete" title="Удалить"><i class="fa fa-times"></i></a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
