<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="dropdown profile-element" dropdown>
                    <a class="dropdown-toggle" dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{main.user.name}}</strong>
                             </span>
                                <span class="text-muted text-xs block">{{main.user.position}}<b class="caret"></b></span>
                            </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>

            </li>

            <li ui-sref-active="active">
                <a ui-sref="index.dashboard"><i class="fa fa-desktop"></i> <span class="nav-label">Рабочий стол</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.partners"><i class="fa fa-industry"></i> <span class="nav-label">Контрагенты</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.contacts"><i class="fa fa-phone"></i> <span class="nav-label">Контакты</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.projects"><i class="fa fa-sitemap"></i> <span class="nav-label">Проекты</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.answers"><i class="fa fa-bullhorn"></i> <span class="nav-label">Ответы</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.tasks"><i class="fa fa-edit"></i> <span class="nav-label">Задачи</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.products"><i class="fa fa-cube"></i> <span class="nav-label">Продукты</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.documents"><i class="fa fa-file-text"></i> <span class="nav-label">Документы</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.correspondence"><i class="fa fa-book"></i> <span class="nav-label">Корреспонденция</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.trips"><i class="fa fa-suitcase"></i> <span class="nav-label">Командировки</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.budget"><i class="fa fa-money"></i> <span class="nav-label">Бюджет</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.contests"><i class="fa fa-line-chart"></i> <span class="nav-label">Конкурсы</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.notifications"><i class="fa fa-bell"></i> <span class="nav-label">Уведомления</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.profile"><i class="fa fa-user"></i> <span class="nav-label">Профиль</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.admin"><i class="fa fa-cogs"></i> <span class="nav-label">Панель администратора</span></a>
            </li>
        </ul>

    </div>
</nav>
